* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f2ef;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    padding: 0.5rem;
    background-color: #e8e4c8;
}

.nav-con {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.logo a {
    margin-left: -10rem;
    font-size: 2rem;
    color: #667ca2;
    text-decoration: none;
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: -10rem;
}

.menu li {
    margin: 0 1rem;
}

.menu li a {
    color: #667ca2;
    text-decoration: none;
}

.maincontent {
    padding: 0 2rem;
    margin-top: 0;
    width: 100%;
}

.maincontent-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.maincontent-info {
    width: 100%;
    background-color: #fff;
    padding: 2rem;
    border: 2px solid #ddd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(31, 31, 31, 0.1);
}

.maincontent-info h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
}

.maincontent-info .info p {
    font-size: 16px;
    color: #666;
    margin-bottom: 8px;
}

.maincontent-info .info span {
    font-weight: bold;
}

.maincontent-img {
    width: 40%;
    text-align: center;
}

.maincontent-img img {
    width: 100%;
    border-radius: 10px;
}

.how-to-cook {
    margin-top: 30px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(31, 31, 31, 0.1);
}

.how-to-cook h2 {
    font-size: 22px;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.how-to-cook ol {
    font-size: 16px;
    color: #333;
    
}

.how-to-cook ol li {
    margin-bottom: 10px;
}

.back-button {
    padding-left: 2.5rem;
    margin: 2rem 0;
    text-align: left;
}

.back-btn {
    font-size: 18px;
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #667ca2;
    border-radius: 70px;
    background-color: #ced5e1;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(95, 159, 255, 0.322);
}

.back-btn:hover {
    background-color: #667ca2;
    color: #f5f2ef;
}
